/*

!.gitignore
!colours.txt

!nvim
!nvim/*
nvim/lazy-lock.json

!i3
!i3/*

!hypr
!hypr/*
!bg.jpg

!waybar
!waybar/*

!rofi
!rofi/*

!alacritty
!alacritty/*

!nix
!nix/*

!nixpkgs
!nixpkgs/*

!nyxt
!nyxt/*

!redox.layout.json

!zsh/\.p10k\.zsh
!zsh/\.zshrc

result*

