/*

!.gitignore
!colours.txt

!nvim
!nvim/*
nvim/lazy-lock.json

!i3
!i3/*

!hypr
!hypr/*
!bg.jpg

!waybar
!waybar/*

!rofi
!rofi/*

!alacritty
!alacritty/*

!kitty
!kitty/*

!nix
!nix/*

!nixpkgs
!nixpkgs/*

!nyxt
!nyxt/*

!redox.layout.json

!zsh
zsh/*
!zsh/.zshrc

!kanshi
!kanshi/*

result*

