//@theme "/nix/store/c0n89l5qwcb7b7lyy4n74kyf5y7hqvd8-rofi-1.7.5+wayland2/share/rofi/themes/gruvbox-dark.rasi"
@theme "/nix/store/jrmgfcwxfw65iq1kig6ydgfy7agls07c-rofi-1.7.5+wayland2/share/rofi/themes/gruvbox-dark.rasi"
