* {
	font-family: "Fira Code", "MesloLGS NF", Roboto, Helvetica, Arial, sans-serif;
	font-size: 13px;

	border: none;

  color: #ffffff;

	padding: 0;
	margin: 0;
}

#tray menu {
    background-color: #242424; 
    color: #ffffff;            
    border: 1px solid #444444;
}

#tray menu menuitem:hover {
    background-color: #333333;
}

window#waybar {
	background-color: rgba(0, 0, 0, 0);

	transition-property: background-color;
	transition-duration: .5s;
}

.modules-left, .modules-right {
	padding-top: 10px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

button {
	/*
	box-shadow: inset 0 -3px transparent;
	border: none;
	border-radius: 0;
	*/
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
	/*
	background: inherit;
	box-shadow: inset 0 -3px #ffffff;
	*/
}


#workspaces button {
	padding: 0 5px;
	margin: 0 5px;
	background-color: rgba(0, 0, 0, .4);
	box-shadow: inset 0px 0px 0px 2px rgba(89, 89, 89, .7);
	/*border: 2px solid rgba(89, 89, 89, 170);*/
	border-radius: 10;
}

#workspaces button:hover {
	background: rgba(0, 0, 0, 0.2);
}

/* 
 * perhaps switch to all modules having atleast a dead border, and then switch the colors on activity
 * would fit better with hyprland anyways
 * though this does seem to work despite swapping the borders instead of adding and removing, and they are the same width, so idk
 */
#workspaces button.active {
	padding: 0 5px;
	box-shadow: inset 0px 0px 0px 2px rgba(227, 146, 66, .7);
	/*border: 2px solid rgba(227, 146, 66, 170);*/
}

#workspaces button.urgent {
	background-color: #eb4d4b;
}

#mode {
	background-color: #64727D;
	box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
	padding: 0 10px;
	background-color: rgba(0, 0, 0, .4);
	border-radius: 10;
	box-shadow: inset -2px -2px rgba(89, 89, 89, .7);
}

#clock {
}

#battery {
}

#battery.charging, #battery.plugged {
	box-shadow: inset -2px -2px rgba(38, 166, 91, .7);
}

@keyframes blink {
	to {
		box-shadow: inset -2px -2px rgba(255, 0, 0, .7);
	}
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}


#cpu {
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
	box-shadow: inset -2px -2px rgba(255, 0, 0, .7);
}

#pulseaudio {
}
#pulseaudio.muted {
	box-shadow: inset -2px -2px rgba(255, 0, 0, .7);
}
#pulseaudio:hover {
	background-color: #a37800;
}

#wireplumber {
}
#wireplumber.muted {
}

#temperature {
}
#temperature.critical {
	box-shadow: inset -2px -2px rgba(255, 0, 0, .7);
}

#idle_inhibitor {
}
#idle_inhibitor.activated {
}

#custom-media {
	background-color: #66cc99;
	color: #2a5c45;
	min-width: 100px;
}

#custom-media.custom-spotify {
	background-color: #66cc99;
}

#custom-media.custom-vlc {
	background-color: #ffa000;
}


#tray {
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}


#mpd {
	background-color: #66cc99;
	color: #2a5c45;
}

#mpd.disconnected {
	background-color: #f53c3c;
}

#mpd.stopped {
	background-color: #90b1b1;
}

#mpd.paused {
	background-color: #51a37a;
}

#language {
	background: #00b093;
	color: #740864;
	padding: 0 5px;
	margin: 0 5px;
	min-width: 16px;
}

#keyboard-state {
	background: #97e1ad;
	color: #000000;
	padding: 0 0px;
	margin: 0 5px;
	min-width: 16px;
}

#keyboard-state > label {
	padding: 0 5px;
}

#keyboard-state > label.locked {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
	background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
	padding: 0;
}

#privacy-item {
	padding: 0 5px;
	color: white;
}

#privacy-item.screenshare {
	background-color: #cf5700;
}

#privacy-item.audio-in {
	background-color: #1ca000;
}

#privacy-item.audio-out {
	background-color: #0069d4;
}


#power-profiles-daemon {
	padding-right: 15px;
}

#power-profiles-daemon.performance {
	background-color: #f53c3c;
	color: #ffffff;
}

#power-profiles-daemon.balanced {
	background-color: #2980b9;
	color: #ffffff;
}

#power-profiles-daemon.power-saver {
	background-color: #2ecc71;
	color: #000000;
}

label:focus {
	background-color: #000000;
}
